.staging-area-main {
  color: white;
  background: url('../../Img/2.jpg');
  height: 100vh;
  background-attachment: fixed;
  overflow: scroll;
}

/* .staging-area-main > h1,
h3 {
  text-shadow: 2px 2px black;
  margin-left: 2vw;
} */

.ui.card:hover {
  background-color: rgb(240, 222, 174);
}

hr {
  display: inline-block;
  height: 1px;
  border: 0;
  border-bottom: 5px solid rgba(105, 68, 0, 0.973);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0;
  width: 100vw;
  box-shadow: 3px 3px 3px 3px rgb(61, 47, 0);
}

.staging-area-deck-placeholder {
  height: 35vh;
}

.staging-area-subheader {
  display: flex;
  text-shadow: 2px 2px black;
  justify-content: space-between;
}
