body {
  background-image: url('../../Img/4.jpg');
  height: 100vh;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
}

.staging-area-main {
  color: white;
}

.staging-area-main > h1,
h3 {
  text-shadow: 2px 2px black;
}

.ui.card:hover {
  background-color: rgb(240, 222, 174);
}
