body {
  background: #000;
  color: #fff;
  font-family: 'arial',sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  height: auto;
  width: 660px;
  text-align: center;
}

.credits {
  text-shadow: 0 -4px 8px blue, 0 3px 8px #ff00ff;
  margin: 0 40%;
  -webkit-animation: movenames 10s linear infinite;
  -moz-animation: movenames 10s linear infinite;
  animation: movenames 10s linear infinite;
}
.credits span {
  display: block;
  margin: 5px 0;
  width: 100%;
}

@-webkit-keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
@-moz-keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
@-o-keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
