.credits-body{
  background: url('/credits.png');
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
}
.container {
  color: white;
  text-shadow: 2px 2px 3 black;
  font-family: 'arial',sans-serif;
  height: 100vh;
  text-align: center;
  border-radius: 1em;
}

.credits {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  -webkit-animation: movenames 10s linear 1;
  -moz-animation: movenames 10s linear 1;
  animation: movenames 10s linear 1;
}

.credits p {
  font-size: 20px;
}

.credits .list {
  margin-left: 30%;
}

.credits span {
  display: block;
  margin: 5px 0;
  width: 100%;
}

@-webkit-keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
@-moz-keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
@-o-keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
@keyframes movenames {
	0% {margin-top: 400px;}
	100% {margin-bottom: 150px;}
}
