.store-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  align-items: center;
  align-content: center;
  text-align: center;
}
.store-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
  align-items: center;
  align-content: center;
  text-align: center;
}
