.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img {
  width: 100vw;
  height: 100vh;
}

.home-button-deck {
  margin: 0 20px;
}

.home-button-profile {
  margin: 0 20px;
}

.home-button {
  margin: 0 20px;
}

@keyframes glowing {
  0% {
    background-color: #1200b2;
    box-shadow: 0 0 3px #1200b2;
  }
  50% {
    background-color: #4f3fe6;
    box-shadow: 0 0 40px #4f3fe6;
  }
  100% {
    background-color: #1200b2;
    box-shadow: 0 0 3px #1200b2;
  }
}

.home-buttons-top {
  margin: 50px 0;
}

.home-buttons {
  position: absolute;
  text-align: center;
  top: 20vh;
  width: 100vw;
  margin-top: -50px;
}

.code-wars-home {
  position: absolute;
  color: white;
  padding: 0;
  margin-top: 65vh;
  margin-left: 75vw;
}

.code-wars-home > h6 {
  text-shadow: 2px 2px 2px teal;
}

.code-wars-home a {
  width: 20vw;
}

.mute-button {
  position: absolute;
  color: white;
  padding: 0;
  margin-top: 72vh;
  margin-left: 5vw;
}

.queue-status {
  color: white;
}

.queue-status.animated {
  animation: pulse 2500ms infinite;
}
