.login-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-img{
  width: 100%;
  height: 100vh;
  object-fit: 'cover';
}
.login-input-wrapper{
  padding: 5px;
  margin-left: -15px;
  width: 20vw;
}

.login-input-button{
  margin: 5px;
  background-color: purple;
}
