.nav-wrapper {
  padding: 0px 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.update-gold {
  align-self: center;
}

.ui.item.top.right.pointing.dropdown{
  margin-left: 0px !important
}

a.left.item {
  font-size: 20px;
}
