.game-container {
  background: url('../../Img/1.jpg');
  height: 100vh;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 5px solid rgba(105, 68, 0, 0.973);
  margin: -3px;
  padding: 0;
  width: 100vw;
  box-shadow: 3px 3px 3px 3px rgb(61, 47, 0);
}

.player-indicator {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.display-status-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -5px;
  width: calc(100% - 75vw);
}

.label-wrapper {
  margin: 10px;
}

.turn {
  text-align: left;
  margin: 0;
}

.ui.divider {
  width: 100vw;
  height: 25px;
  text-align: center;
  background-color: black;
}

.board-placeholder {
  height: 30vh;
}

