.game-container {
  background: url('../../Img/1.jpg');
  height: 100vh;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 5px solid rgba(105, 68, 0, 0.973);
  margin: -3px;
  padding: 0;
  width: 100vw;
  box-shadow: 3px 3px 3px 3px rgb(61, 47, 0);
}