.game-container {
  background: linear-gradient(
      rgba(255, 0, 0, 0.5) 0%,
      rgba(255, 0, 0, 0.25) 25%,
      rgba(0, 0, 255, 0.25) 50%,
      rgba(0, 0, 255, 0.5) 75%
    ),
    url(https://i.pinimg.com/originals/d9/ef/06/d9ef061b0b79df1790174e57bb9fc548.jpg);
  height: calc(100vh - 64px);
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 10px solid #000;
  margin: 1em 0;
  padding: 0;
  width: 85vw;
}
